@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
}

html, body {
  scroll-behavior: smooth;
}

.snap-x {
  scroll-snap-type: x mandatory;
}

.snap-y {
  scroll-snap-type: y mandatory;
}

.snap-start {
  scroll-snap-align: start;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.transition-all {
  transition: all 1.5s ease-in-out;
}

.font-thin {
  font-weight: 100;
}

/* Hide Scrollbars */
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes breathe {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-breathe {
  animation: breathe 3s ease-in-out infinite;
}

/* Fade-in animation for content */
.fade-in-content {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
  animation-delay: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Pop-in effect for the navbar */
.scale-up {
  transform: scale(0);
  animation: scaleUp 0.5s forwards;
}

@keyframes scaleUp {
  to {
    transform: scale(1);
  }
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}